#set($layout = "layout/empty.vm")
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="../../css/zmoaStyle.css">
    <link rel="stylesheet" href="../../css/Font-Awesome-3.2.1/css/font-awesome.css">
    <script src="../../js/jquery.js"></script>
</head>
<body>
<div class="place">
    <span class="icon-reorder">&nbsp;位置：</span>
    <ul class="placeul">
        <li><a>菜单管理</a></li>
    </ul>
</div>
<table class="table text-center">
    <tr>
        <th>名称</th>
        <th>描述</th>
        <th>上级部门</th>
        <th>操作</th>
    </tr>
    #foreach($d in $departmentResults)
        <tr>
            <td align="left">$!d.name</td>
            <td>$!d.description</td>
            <td>$!d.department.name</td>
            <td><a href="/department/$d.id/delete.action" class="button border-red">
                <span class="icon-trash-o"></span>删除</a>
                <a href="/department/$d.id/getById.action" class="button border-blue">
                    <span class="icon-edit"></span>编辑</a></td>
        </tr>
    #end
</table>
<a class="button border-blue" href="/department/toAddPage.action"><span class="icon-pencil"></span>添加</a>
</body>
</html>


