#set($layout = "layout/empty.vm")
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="../../css/zmoaStyle.css">
    <link rel="stylesheet" href="../../css/Font-Awesome-3.2.1/css/font-awesome.css">
    <script src="../../js/jquery.js"></script>
</head>
<script type="text/javascript">
    $(document).ready(function(){
        $("#role").change(function(){
            //获取下拉框选中option
            var role = $(this).children('option:selected').val();
            //用ajax后台获取部门对应的信息
            jQuery.ajax({
                url: "/user/addU.action",
                type: "post",
                data: {roleId:role},
                dataType: 'json',
                success:function(data){
                    //将以前在数据删除
                    $("#depart").children().remove();
                    var roles = data[0].roles;
                    for(var i=0;i<roles.length;i++){
                        $("#depart").append('<option class="roles" value=' + roles[i].name + '>'+roles[i].name+'</option>');
                    }
                }
            })
        })
    });
</script>
<body>
<div class="place">
    <span class="icon-reorder">&nbsp;位置：</span>
    <ul class="placeul">
        <li><a>编辑</a></li>
    </ul>
</div>
<form action="/role/$roleOne.id/update.action" method="post" class="form-x">
    <input type="hidden" name="id" value="$!roleOne.id">
    <div class="form-group">
        <div class="body-content">
            <div class="label">
                <div>岗位名称:</div>
            </div>
            <div class="field">
                <input type="text" name="name" value="$!roleOne.name" class="input w50"  size="50">
            </div>
        </div>
        <div class="body-content">
            <div class="label">
            <div >岗位说明:</div>
            </div>
            <div class="field">
                <input type="text" name="description" value="$!roleOne.description" class="input w50"  size="50">
            </div>
        </div>
        <div class="body-content">
            <div class="label">
                <div >部门名称:</div>
            </div>
            <div class="field">
            <select name="department.id" class="input w50" id="role">
                <option >无上级部门:</option>
                #foreach($r in $departmentResults)
                    <option value="$!r.id" #if($r.id==$roleOne.department.id)
                            selected="selected"
                    #end>$!r.name</option>
                    #foreach($rn in $r.departments)
                        <option value="$!rn.id" #if($rn.id==$roleOne.department.id)
                                selected="selected"
                        #end>&nbsp;&nbsp;├$!rn.name</option>
                    #end
                #end
            </select>
            </div>
        </div>
##        <div class="field">
##            <input type="text" name="name" value="$roleOne.department.name" class="input w50"  size="50">
##        </div>
        <div class="body-content">
            <div class="label">
                <div ">部门描述:</div>
            </div>
            <div class="field">
                <textarea type="text" class="input w50" name="tits" style="height:150px;width: 250px"   name="description" >$!roleOne.department.description</textarea>
            </div>
        </div>
        <div class="form-foot">
            <button class="button border-green icon-check" type="submit"> 提交</button>&nbsp;
            <input type="button" class="button border-blue" value="返回" class="input-button" onclick="history.back();" />
        </div>
        </div>
</form>


<form id="form1" runat="server">
    <asp:ScriptManager ID="scriptManager" runat="server" EnablePageMethods="true" />

    <script type="text/javascript">
        var intervalID = 0;
        var progressBar;
        var fileUpload;
        var form;
        // 进度条
        function pageLoad(){
                $addHandler($get('upload'), 'click', onUploadClick);
            progressBar = $find('progress');
        }
        // 注册表单
        function register(form, fileUpload){
            this.form = form;
            this.fileUpload = fileUpload;
        }
        //上传验证
        function onUploadClick() {
            var vaild = fileUpload.value.length > 0;
            if(vaild){
                    $get('upload').disabled = 'disabled';
                updateMessage('info', '初始化上传...');
                //提交上传
                form.submit();
                // 隐藏frame
                Sys.UI.DomElement.addCssClass($get('uploadFrame'), 'hidden');
                // 0开始显示进度条
                progressBar.set_percentage(0);
                progressBar.show();
                // 上传过程
                intervalID = window.setInterval(function(){
                    PageMethods.GetUploadStatus(function(result){
                        if(result){
                            //  更新进度条为新值
                            progressBar.set_percentage(result.percentComplete);
                            //更新信息
                            updateMessage('info', result.message);

                            if(result == 100){
                                // 自动消失
                                window.clearInterval(intervalID);
                            }
                        }
                    });
                }, 500);
            }
            else{
                onComplete('error', '您必需选择一个文件');
            }
        }

        function onComplete(type, msg){
            // 自动消失
            window.clearInterval(intervalID);
            // 显示消息
            updateMessage(type, msg);
            // 隐藏进度条
            progressBar.hide();
            progressBar.set_percentage(0);
            // 重新启用按钮
                $get('upload').disabled = '';
            //  显示frame
            Sys.UI.DomElement.removeCssClass($get('uploadFrame'), 'hidden');
        }
        function updateMessage(type, value){
            var status = $get('status');
            status.innerHTML = value;
            // 移除样式
            status.className = '';
            Sys.UI.DomElement.addCssClass(status, type);
        }

    </script>

    <div>
        <div class="upload">
            <h3>文件上传</h3>
            <div>
                <iframe id="uploadFrame" frameborder="0" scrolling="no" src=".aspx"></iframe>
                <mb:ProgressControl ID="progress" runat="server" CssClass="lightblue" style="display:none" Value="0" Mode="Manual" Speed=".4" Width="100%" />
                <div>
                    <div id="status" class="info">请选择要上传的文件</div>
                    <div class="commands">
                        <input id="upload" type="button" value="上传" />
                    </div>
                </div>
            </div>
        </div>

    </div>
</form>

</body>
</html>
