#set($layout = "layout/empty.vm")
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="../../css/zmoaStyle.css">
    <link rel="stylesheet" href="../../css/Font-Awesome-3.2.1/css/font-awesome.css">
    <script src="../../js/jquery.js"></script>
</head>
<body>
<div class="place">
    <span class="icon-reorder">&nbsp;位置：</span>
    <ul class="placeul">
        <li><a>岗位管理</a></li>
    </ul>
</div>
<table class="table text-center">
    <tr>
        <th>Id</th>
        <th>岗位名称</th>
        <th>部门名称</th>
        <th>岗位说明</th>
        <th>部门说明</th>
        <th>相关操作</th>
    </tr>
    #foreach($rr in $roleList)
        <tr >
            <td>$!rr.id</td>
            <td>$!rr.name</td>
            <td>$!rr.department.name</td>
            <td>$!rr.description</td>
            <td>$!rr.department.description</td>
            <td><div class="button-group"> <a class="button border-blue" href="/role/$rr.id/getById.action"><span class="icon-edit"></span> 修改</a>
                <a class="button border-red" href="/role/$rr.id/delteRole.action"><span class="icon-trash-o"></span> 删除</a>
                <a class="button border-blue" href="/privileges/$rr.id/setp.action"><span class="icon-edit"></span>设置权限</a>
            </div></td>
            <td>
        </tr>
    #end
</table>
<a class="button border-blue" href="/role/showDepartment.action"><span class="icon-pencil"></span>添加</a>
