#set($layout = "layout/empty.vm")
<html>
    <head>
        <!-- 导入jquery核心类库 -->
        <script type="text/javascript"
                src="../../js/jquery-1.8.3.js"></script>
        <!-- 导入easyui类库 -->
       <link id="easyuiTheme" rel="stylesheet" type="text/css"
              href="../../js/easyui/themes/default/easyui.css">
##        <link rel="stylesheet" type="text/css"
##              href="../../js/easyui/themes/icon.css">
##        <link rel="stylesheet" type="text/css"
##              href="../../css/default.css">
        <link rel="stylesheet" href="../../css/zmoaStyle.css">
        <link rel="stylesheet" href="../../css/Font-Awesome-3.2.1/css/font-awesome.css">
        <script type="text/javascript"
                src="../../js/easyui/jquery.easyui.min.js"></script>


        <script>

            function tijiao(){
                var group= $("#smallgroup").val();
                var person=$("#person").val();
                var number=$("#number").val();
                var money=$("#money").val();


                /*$("input[name=kilometre]").each(function () {
                    var a=$(this).prop("value");
                    if(a.trim()==""){
                        alert("公里数必填")
                        return false;
                    }
                });
                $("input[name=consume]").each(function () {
                    var a=$(this).prop("value");
                    if(a.trim()==""){
                        alert("耗油必填")
                        return false;
                    }
                });*/



                $("#form1").submit();


            }

        </script>
    </head>
    <body>

    <div class="place">
        <span class="icon-reorder">&nbsp;位置：</span>
        <ul class="placeul">
            <li><a>详细</a></li>
        </ul>
    </div>
        <div>
            <div class="divtbs">
##                 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<input type="submit" value="提交审批" onclick="tijiao()">
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<a class="button border-green" onclick="tijiao()"><span class="icon-check">提交</span></a>
            </div>
            <form  action="/business/distributionUpdate.action" method="post" id="form1" >
                <input type="hidden" name="distributionCode" value="$!resultDistribution.distributionCode">

                <table class="tableson" border="1">
                    <tr>
                        <td colspan="2">
                            小组：
                          #*  $!resultDistribution.smallgroup*#
                           <input type="text" id="smallgroup" name="smallgroup" value="$!resultDistribution.smallgroup" readonly="true"/>
                        </td>
##                        <td>&nbsp; &nbsp; &nbsp; &nbsp;</td>
                        <td colspan="2">
                            配送人员：
                           #* $!resultDistribution.person*#
                            <input type="text" id="person" name="person" value="$!resultDistribution.person" />
                        </td>
##                        <td>&nbsp; &nbsp; &nbsp; &nbsp;</td>
                        <td colspan="2">
                            车号：
                           #* $!resultDistribution.number*#
                            <input type="text" name="number" id="number" value="$!resultDistribution.number" />
                        </td>
##                        <td>&nbsp; &nbsp; &nbsp; &nbsp;</td>
                        <td>
                            起始时间：
                            $!resultDistribution.startTime
                           #* <input name="startTime" value="$!resultDistribution.startTime" />*#
                        </td>
                        <td>&nbsp; &nbsp; &nbsp; &nbsp;</td>
                        <td>&nbsp; &nbsp; &nbsp; &nbsp;</td>
                        <td>
                            截止时间：
                            $!resultDistribution.endTime
                            #*<input name="endTime" value="$!resultDistribution.endTime" />*#
                        </td>
                        <td>&nbsp; &nbsp; &nbsp; &nbsp;</td>
                    </tr>
                    <tr>
                        <td>采购单编号</td>
                        <td>订单编号</td>
                        <td>货物种类</td>
                        <td>订单数量</td>
                        <td>实际数量</td>
                        <td>重量</td>
                        <td>收货人地址</td>
                        <td>电话</td>
                        <td>公里数</td>
                        <td>油耗/元/km</td>
                        <td>备注</td>
                    </tr>
                    #foreach($DistributionSon in $resultList)
                        <tr>
                            #*<td>$!DistributionSon.orderCode</td>
                            <td>$!DistributionSon.kind</td>
                            <td>$!DistributionSon.orderNumber</td>
                            <td>$!DistributionSon.practicalNumber</td>
                            <td>$!DistributionSon.weight</td>
                            <td>$!DistributionSon.address</td>
                            <td>$!DistributionSon.phone</td>*#
                            #*<td>$!DistributionSon.kilometre</td>
                            <td>$!DistributionSon.consume</td>
                            <td>$!DistributionSon.remark</td>*#

                            <td><input type="text" name="purchaseCode"  id="purchaseCode" value="$!DistributionSon.purchaseCode" readonly="true" ></td>
                            <td><input type="text" name="orderCode"  id="orderCode" value="$!DistributionSon.orderCode" readonly="true" ></td>
                            <td><input type="text" name="zhonglei" value="$!DistributionSon.kind" ></td>
                            <td><input type="text" name="ddsl" value="$!DistributionSon.orderNumber" ></td>
                            <td><input type="text" name="sjsl" value="$!DistributionSon.practicalNumber" ></td>
                            <td><input type="text" name="sjzl" value="$!DistributionSon.weight" ></td>
                            <td><input type="text" name="shipAddress" value="$!DistributionSon.address" ></td>
                            <td><input type="text" name="shipCellPhone" value="$!DistributionSon.phone" ></td>
                            <td><input type="text" id="kilometre" name="kilometre" value="$!DistributionSon.kilometre" ></td>
                            <td><input type="text" id="consume" name="consume" value="$!DistributionSon.consume"></td>
                            <td><input type="text" id="remark" name="remark" value="$!DistributionSon.remark"></td>


                        </tr>

                    #end
                    <tr>
                        <td>
                            合计：

                        </td>
                        <td>&nbsp; &nbsp; &nbsp; &nbsp;</td>
                        <td>&nbsp; &nbsp; &nbsp; &nbsp;</td>
                        <td>
                           #*$!resultDistribution.allOrderNumber*#
                           <input name="allOrderNumber" value="$!resultDistribution.allOrderNumber" />
                        </td>
                        <td>
                            #*$!resultDistribution.allRealNumber*#
                            <input name="allRealNumber" value="$!resultDistribution.allRealNumber" />
                        </td>
                        <td>
                           #*$!resultDistribution.allRealWeigth*#
                            <input name="allRealWeigth" value="$!resultDistribution.allRealWeigth" />
                        </td>

                        <td colspan="2">
                            预支差旅费：
                            #*$!resultDistribution.money*#
                           <input name="money" id="money" value="$!resultDistribution.money"/>
                        </td>
##                        <td>&nbsp; &nbsp; &nbsp; &nbsp;</td>
                        <td>&nbsp; &nbsp; &nbsp; &nbsp;</td>
                        <td colspan="2">
                            装车完毕时间：
                           $!resultDistribution.truckFinishTime
                           #* <input name="truckFinishTime" value="$!resultDistribution.truckFinishTime"/>*#
                        </td>
##                        <td>&nbsp; &nbsp; &nbsp; &nbsp;</td>
                    </tr>
                   #* <tr>
                        <td>
                            审批：
                            <input type="text" id="approvePeople"  name="approvePeople" value=" $!resultDistribution.approvePeople" readonly="readonly"/>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            组长：
                            <input type="text" id="groupLeader"  name="groupLeader" value=" $!resultDistribution.groupLeader" readonly="readonly"/>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>

                        <td>
                            制表人：
                            <input type="text" id="ister"  name="ister" value=" $!resultDistribution.ister" readonly="readonly"/>
                        </td>
                        <td></td>
                    </tr>*#
                </table>
            </form>
        </div>


    </body>

</html>








