#set($layout = "layout/empty.vm")
<form id="fm" method="post" novalidate style="margin:0;padding:20px 50px" enctype="multipart/form-data">
    <div style="margin-bottom:20px;font-size:14px;border-bottom:1px solid #ccc">优惠券活动添加</div>
    <div id="panel" class="easyui-panel" border="false" style="height: 300px;">

        <div style="margin-bottom:10px">
            <input name="productCategoryId" required="true" id="cc1" class="easyui-combotree" style="width:100%" data-options="
                    valueField: 'id',
                    textField: 'text',
                    url:'/coupon/getProductCategoriesByParentId.action',
                    method:'get',
                    label:'应用商品分类:',
                    labelPosition:'top',
                    onSelect: function(rec){
                        $('#cc2').combobox('clear');
                        var url = '/coupon/getProductsByCategoryId.action?id='+rec.id;
                        $('#cc2').combobox('reload', url);
                    }">
        </div>
        <div style="margin-bottom:10px">
            <input name="productId" required="true" style="width:100%;" id="cc2" class="easyui-combobox" data-options="
                    valueField:'id',
                    textField:'text',
                    selectOnNavigation:$(this).is(':checked'),
                    panelHeight:'auto',
                    label: '应用商品:',
                    labelPosition:'top',
                    onSelect: function(rec){
                        $('#cc3').combobox('clear');
                        var url = '/coupon/getSpecsByProductId.action?id='+rec.id;
                        $('#cc3').combobox('reload', url);
                    }">
        </div>
        <div style="margin-bottom:10px">
            <input name="productSku" required="true" style="width:100%;" id="cc3" class="easyui-combobox" data-options="
                    valueField:'text',
                    textField:'text',
                    panelHeight:'auto',
                    label: '应用商品规格:',
                    selectOnNavigation:$(this).is(':checked'),
                    labelPosition:'top'
                    ">
        </div>
        <div style="margin-bottom:10px">
            <input name="categoryId" class="easyui-combobox" style="width:100%;" data-options="
                    url: '/coupon/getCouponCategoryList.action',
                    valueField: 'id',
                    textField: 'name',
                    label: '优惠券分类:',
                    editable: false,
                    labelPosition: 'top'
                    ">
        </div>
        <div style="margin-bottom:10px">
            <input name="name" class="easyui-textbox" data-options="labelPosition:'top'" label="活动名称:" style="width:100%">
        </div>
        <div style="margin-bottom:10px">
            <input name="file" class="easyui-filebox" style="width:100%" data-options="
                    prompt:'选择图片',
                    labelPosition:'top',
                    label:'优惠券图片:'
                    ">
        </div>
        <div style="margin-bottom:10px">
            <input name="preName" class="easyui-textbox" data-options="labelPosition:'top'" label="优惠券前缀:" style="width:100%">
        </div>
        <div style="margin-bottom:10px">
            <input name="cpLength" class="easyui-numberspinner" value="100" style="width:50%;text-align:center" data-options="
                    label:'优惠券卡号长度:',
                    labelPosition:'top',
                    spinAlign:'horizontal'
                    ">
        </div>
        <div style="margin-bottom:10px">
            <input name="couponPrice" class="easyui-numberspinner" value="100" style="width:50%;text-align:center" data-options="
                    label:'优惠券面值:',
                    labelPosition:'top',
                    spinAlign:'horizontal'
                    ">
        </div>
        <div style="margin-bottom:10px">
            <input name="limitPrice" class="easyui-numberspinner" value="100" style="width:50%;text-align:center" data-options="
                    label:'最低消费金额:',
                    labelPosition:'top',
                    spinAlign:'horizontal'
                    ">
        </div>
        <div style="margin-bottom:10px">
            <select class="easyui-combobox" name="type" label="优惠券类型:" labelPosition="top" style="width:100%;" data-options="">
                <option value="0" selected>普通优惠券</option>
                <option value="1">兑换优惠券</option>
                <option value="2">赠送优惠券</option>
            </select>
        </div>
        <div style="margin-bottom:10px">
            <input name="deferDay" class="easyui-numberspinner" value="7" style="width:50%;text-align:center" data-options="
                label:'赠送优惠券有效期（天）:',
                labelPosition:'top',
                spinAlign:'horizontal'
                ">
        </div>
        <div style="margin-bottom:10px">
            <span>是否启用：</span><br/>
            <input id="sb" name="status" class="easyui-switchbutton" data-options="onText:'开启',offText:'关闭',checked:true,value:1">
        </div>
    </div>
</form>